.main-container {
    position: absolute;
    width: calc(100svw - 80px);
    height: 100%;
    top: 0;
    left: 80px;
}


@media only screen and (max-width: 550px) {
    .main-container {
        left: 0;
        width: 100%;
    }
}