.bars-icon {
    display: none;
}

.menu {
    position: fixed;
    width: 75px;
    height: 100%;
    top: 0;
    left: 0;
    transition: 0.2s;
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    gap: 5px;
    z-index: 9999;
}

.menu-inner-frame {
    width: 100%;
    height: calc(100svh - 110px);

    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
}



.logo {
    width: 100%;
    height: 70px;
    padding: 10px 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
}

.logo-img {
    width: 65px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo-title {
    display: none;
    width: 90px;
    height: 60px;
}

.menu-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.menu-item {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;

    padding: 15px 0;
    
    color: white;
    font-size: 1.4rem;
    font-weight: 200;
    line-height: 20px;
    cursor: pointer;

    text-decoration: none;
}

.menu-item-icon {
    transition: 0.2s;
}

.menu-item-desc {
    display: none;
    font-weight: 300;
    transition: 0.2s;
}

.menu:hover .menu-item {
    justify-content: start;
}

.menu:hover .menu-item {
    padding-left: 25px;
}

.menu:hover .menu-item-desc {
    display: block;
}


.menu-light-theme {
    background-color: rgba(238, 171, 0, 1);
}

.menu-dark-theme {
    
    background-color: #000;
}

.light-theme-font {
    color: #000;
}

.dark-theme-font {
    color: #fff;
}

.menu-dark-theme > .menu-inner-frame > .menu-section > .menu-item:hover {
    background-color: rgba(0 , 0, 0, 0.4);

    .menu-item-desc {
        scale: 1.1;
    }

    .menu-item-icon {
        scale: 1.1;
    }
}

.menu-light-theme > .menu-inner-frame > .menu-section > .menu-item:hover {
    background-color: rgba(255, 255, 255, 0.4);

    .menu-item-desc {
        scale: 1.1;
    }

    .menu-item-icon {
        scale: 1.1;
    }
    
}

.logo-icon-light-props {

    svg {
        path {
            fill: #000;
        }
    }
    
}

.logo-img-light {
    svg {
        path {
            fill: #000;
        }
    }
}

.logo-title-light {
    svg {
        path {
            fill: #000;
        }

        .business-name {
            fill: #fff;
        }
    }
}

@media only screen and (max-width: 550px) {
    .bars-icon {
        color: #fff;
    
        font-size: 20px;

        width: 40px;
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        
    }

    .bars-icon:hover {
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 50%;
        cursor: pointer;
    }

    .logo {
        width: 75px;
    }

    .menu {
        width: 100%;
        height: 60px;
        justify-content: center;
        align-items: center;
    }

    .menu-inner-frame {
        flex-direction: row;
        width: 90%;
        height: 100%;
    }

    .menu-section {
        display: none;
    }

    .logo-title {
        display: none;
    }
}

@media only screen and (min-width: 551px) {
    .menu:hover {
        width: 200px;
    
        .logo-title {
            display: block;
    
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
}