.social-media-menu {
    width: 65px;
    height: 250px;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 10px;

    padding: 10px 0;
}

.social-media-icon {
    cursor: pointer;
    font-size: 1.5rem;
    transition: 0.3s;
}

.social-media-icon:hover {
    scale: 1.3;
}


@media only screen and (max-width: 550px) {
    .social-media-menu {
        display: none;
    }
}