.modal-container {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: transparent;
}

.modal-box {
    width: 500px;
    height: 500px;
    border-radius: 20px;
    

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    padding: 20px;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.agenda-item-control:not([type = 'button']) {
    width: 400px;
    height: 100px;
}

.agenda-item-control[type = 'text'] {
    width: 400px;
    height: 50px;
    text-align: center;
    font-size: 1.3rem;
}

.agenda-item-control[type = 'button'] {
    width: 150px;
    height: 50px;
    border: none;
    outline: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.agenda-item-control[type = 'button']:active {
    box-shadow: 2px 2px 15px #fff, -2px -2px 15px #fff;
}

.agenda-item-control[type = 'text']:disabled {
    background-color: #f6f6f6;
}


@media screen and (max-width: 500px) {
    .modal-box {
        width: 300px;
        height: 300px;
    }


    .agenda-item-control:not([type = 'button']) {
        width: 200px;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
    .modal-box {
        width: 400px;
        height: 400px;
    }

    .agenda-item-control:not([type = 'button']) {
        width: 300px;
    }
}



    @media screen and (max-width: 1150px) {
        .modal-box {
            top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
        }

    }

    .buttons {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }