.month-selector-container {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 99;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.month-selector-box {
    width: 500px;
    height: 500px;
    padding: 20px;
    display: grid;
    grid-template-columns: auto auto;
    border-radius: 20px;
}

.month-name {
    font-size: 1.5rem;
    font-weight: 300;
    text-align: center;
    cursor: pointer;
    align-content: center;
}

.month-name:hover {
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 20px;
}

@media screen and (max-width: 500px) {
    .month-selector-box {
        width: 300px;
        height: 300px;
    }

    .month-name {
        font-size: 1rem;
    }
}

@media screen and (min-width: 501px) and (max-width: 800px) {
    .month-selector-box {
        width: 400px;
        height: 400px;
    }

    .month-name {
        font-size: 1.3rem;
    }
}